body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#contenedor {
    width: 950px;
    height: 950px;
    padding: 10px;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cuadrito { 
    width: 56px;
    height: 56px;
    background-color: yellow;
}

#cambiador{
    padding: 10px;
    margin: 10px;
}